In [1]:
import pandas as pd
import numpy as np

import seaborn as sns
sns.set(context='paper', style='darkgrid', rc={'figure.facecolor':'white'}, font_scale=1.2)

import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df_cleaned = pd.read_csv('Cleaned_default_status.csv', index_col = 0)

In [3]:
df_cleaned

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,September_status,August_status,July_status,June_status,May_status,...,June_payment,May_payment,April_payment,Default,September_balance,August_balance,July_balance,June_balance,May_balance,April_balance
0,200000,0,3,1,30,2,2,2,2,2,...,6000,5000,0,0,133727,137137,139514,141273,144244,151973
1,200000,0,4,2,27,-1,-1,-1,-1,-1,...,0,0,0,0,0,0,0,0,0,0
2,20000,0,2,2,28,0,0,2,0,0,...,6,6530,8103,1,-416,5693,-957,8162,364,3321
3,50000,1,2,2,23,0,0,0,-1,0,...,700,718,700,0,47099,9474,-1981,47737,17994,18429
4,20000,1,2,1,47,-1,-1,-1,-1,-1,...,0,0,0,0,-390,780,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22495,50000,0,2,1,50,0,0,0,0,0,...,1000,697,532,0,19956,19133,19485,16081,15537,15798
22496,80000,0,2,1,53,0,0,0,0,0,...,800,1100,1100,0,46158,97888,19625,19525,19176,19562
22497,50000,0,2,1,50,0,0,0,0,0,...,1628,1520,2202,0,49142,48301,47253,47760,47333,45563
22498,220000,1,2,1,32,0,0,0,0,0,...,4000,4000,4500,0,198264,99304,101226,103476,105746,107420
22499,130000,1,1,1,39,2,-1,-1,-1,-1,...,3169,390,390,0,0,0,-678,-2101,2779,0

In [40]:
default = df_cleaned[df_cleaned['Default'] == 1]
no_default = df_cleaned[df_cleaned['Default'] == 0]

In [41]:
classes = ['default', 'no_default']

## Messing around with the data to find new features

#### Already done in first notebook

In [42]:
# df_cleaned['September_balance'] = [df_cleaned['September_bill'][i] - df_cleaned['September_payment'][i] 
#                        for i in range(len(df_cleaned['September_payment']))]

# df_cleaned['August_balance'] = [df_cleaned['August_bill'][i] - df_cleaned['August_payment'][i] 
#                        for i in range(len(df_cleaned['August_payment']))]

# df_cleaned['July_balance'] = [df_cleaned['July_bill'][i] - df_cleaned['July_payment'][i] 
#                        for i in range(len(df_cleaned['July_payment']))]

# df_cleaned['June_balance'] = [df_cleaned['June_bill'][i] - df_cleaned['June_payment'][i] 
#                        for i in range(len(df_cleaned['June_payment']))]

# df_cleaned['May_balance'] = [df_cleaned['May_bill'][i] - df_cleaned['May_payment'][i] 
#                        for i in range(len(df_cleaned['May_payment']))]

# df_cleaned['April_balance'] = [df_cleaned['April_bill'][i] - df_cleaned['April_payment'][i] 
#                        for i in range(len(df_cleaned['April_payment']))]

In [4]:
df_cleaned['Min_payment_sep'] = [1 if df_cleaned['September_bill'][i] <= 0 
                                 else 1 if (df_cleaned['September_payment'][i] / df_cleaned['September_bill'][i]) > .03       
                                 else 0 for i in range(len(df_cleaned['September_bill']))]

df_cleaned['Min_payment_aug'] = [1 if df_cleaned['August_bill'][i] <= 0
                                 else 1 if (df_cleaned['August_payment'][i] / df_cleaned['August_bill'][i]) > .03       
                                 else 0 for i in range(len(df_cleaned['August_bill']))]

df_cleaned['Min_payment_jul'] = [1 if df_cleaned['July_bill'][i] <= 0
                                 else 1 if (df_cleaned['July_payment'][i] / df_cleaned['July_bill'][i]) > .03       
                                 else 0 for i in range(len(df_cleaned['July_bill']))]

df_cleaned['Min_payment_jun'] = [1 if df_cleaned['June_bill'][i] <= 0
                                 else 1 if (df_cleaned['June_payment'][i] / df_cleaned['June_bill'][i]) > .03       
                                else 0 for i in range(len(df_cleaned['June_bill']))]

df_cleaned['Min_payment_may'] = [1 if df_cleaned['May_bill'][i] <= 0
                                 else 1 if (df_cleaned['May_payment'][i] / df_cleaned['May_bill'][i]) > .03       
                                 else 0 for i in range(len(df_cleaned['May_bill']))]

df_cleaned['Min_payment_apr'] = [1 if df_cleaned['April_bill'][i] <= 0
                                 else 1 if (df_cleaned['April_payment'][i] / df_cleaned['April_bill'][i]) > .03       
                                 else 0 for i in range(len(df_cleaned['April_bill']))]

## Prepping data for first Practice mode

In [5]:
df_cleaned.drop(columns = ['September_bill', 'August_bill', 'July_bill',
       'June_bill', 'May_bill', 'April_bill', 'September_payment',
       'August_payment', 'July_payment', 'June_payment', 'May_payment',
       'April_payment'], inplace = True)

In [6]:
edu_dummies = pd.get_dummies(df_cleaned['EDUCATION'], prefix = 'edu', drop_first = True)

marriage_dummies = pd.get_dummies(df_cleaned['MARRIAGE'], prefix = 'marriage', drop_first = True)

status_dummies_sep = pd.get_dummies(df_cleaned['September_status'], 
                                    prefix = 'September_status', drop_first = True)

status_dummies_aug = pd.get_dummies(df_cleaned['August_status'], 
                                    prefix = 'August_status', drop_first = True)

status_dummies_jul = pd.get_dummies(df_cleaned['July_status'], 
                                    prefix = 'July_status', drop_first = True)

status_dummies_jun = pd.get_dummies(df_cleaned['June_status'], 
                                    prefix = 'June_status', drop_first = True)

status_dummies_may = pd.get_dummies(df_cleaned['May_status'], 
                                    prefix = 'May_status', drop_first = True)

status_dummies_apr = pd.get_dummies(df_cleaned['April_status'], 
                                    prefix = 'April_status', drop_first = True)

In [7]:
# df_w_dummies = pd.concat([df_cleaned, edu_dummies, marriage_dummies, status_dummies_sep, 
#                          status_dummies_aug, status_dummies_jul, status_dummies_jun, 
#                          status_dummies_may, status_dummies_apr], axis = 1)

df_w_dummies = pd.concat([df_cleaned, edu_dummies, marriage_dummies], axis = 1)

In [8]:
df_w_dummies.drop(columns = ['EDUCATION', 'MARRIAGE'], inplace = True)

In [9]:
df_w_dummies.to_csv('Data_wo_status_dummies.csv')

In [ ]:
df_w_dummies['Limit_min_sep'] = [df_w_dummies['LIMIT_BAL'][i] * df_w_dummies['Min_payment_sep'][i]
                            for i in range(len(df_w_dummies['LIMIT_BAL']))]

df_w_dummies['Limit_min_aug'] = [df_w_dummies['LIMIT_BAL'][i] * df_w_dummies['Min_payment_aug'][i]
                            for i in range(len(df_w_dummies['LIMIT_BAL']))]

df_w_dummies['Limit_min_jul'] = [df_w_dummies['LIMIT_BAL'][i] * df_w_dummies['Min_payment_jul'][i]
                            for i in range(len(df_w_dummies['LIMIT_BAL']))]

df_w_dummies['Limit_min_jun'] = [df_w_dummies['LIMIT_BAL'][i] * df_w_dummies['Min_payment_jun'][i]
                            for i in range(len(df_w_dummies['LIMIT_BAL']))]

df_w_dummies['Limit_min_may'] = [df_w_dummies['LIMIT_BAL'][i] * df_w_dummies['Min_payment_may'][i]
                            for i in range(len(df_w_dummies['LIMIT_BAL']))]

df_w_dummies['Limit_min_apr'] = [df_w_dummies['LIMIT_BAL'][i] * df_w_dummies['Min_payment_apr'][i]
                            for i in range(len(df_w_dummies['LIMIT_BAL']))]

In [ ]:
# df_w_dummies['sep_0'] = [df_w_dummies['September_status_9'][i] * df_w_dummies['Min_payment_sep'][i]      
#                          for i in range(len(df_w_dummies['September_status_9']))]

# df_w_dummies['aug_0'] = [df_w_dummies['August_status_9'][i] * df_w_dummies['Min_payment_aug'][i]      
#                          for i in range(len(df_w_dummies['September_status_9']))]

# df_w_dummies['jul_0'] = [df_w_dummies['July_status_9'][i] * df_w_dummies['Min_payment_jul'][i]      
#                          for i in range(len(df_w_dummies['September_status_9']))]

# df_w_dummies['jun_0'] = [df_w_dummies['June_status_9'][i] * df_w_dummies['Min_payment_jun'][i]      
#                          for i in range(len(df_w_dummies['September_status_9']))]

# df_w_dummies['may_0'] = [df_w_dummies['May_status_9'][i] * df_w_dummies['Min_payment_may'][i]      
#                          for i in range(len(df_w_dummies['September_status_9']))]

# df_w_dummies['apr_0'] = [df_w_dummies['April_status_9'][i] * df_w_dummies['Min_payment_apr'][i]      
#                          for i in range(len(df_w_dummies['September_status_9']))]

In [ ]:
df_w_dummies.drop(columns = ['September_status', 'August_status', 'July_status', 'June_status', 
                             'May_status', 'April_status', 'EDUCATION', 'MARRIAGE'], inplace = True)

In [ ]:
df_w_dummies.shape

In [ ]:
sns.set(style="white")


# Compute the correlation matrix
corr = np.abs(df_w_dummies.corr())

# Generate a mask for the upper triangle
mask = np.zeros_like(corr, dtype=np.bool)
mask[np.triu_indices_from(mask)] = True

# Set up the matplotlib figure
f, ax = plt.subplots(figsize=(11, 9))

# Generate a custom diverging colormap
cmap = sns.diverging_palette(220, 10, as_cmap=True)

# Draw the heatmap with the mask and correct aspect ratio
sns.heatmap(corr, mask=mask, cmap=cmap, vmax=1, center=0,
            square=True, linewidths=.5, cbar_kws={"shrink": .5})

In [ ]:
# Create correlation matrix
corr_matrix = df_w_dummies.corr().abs()

# Select upper triangle of correlation matrix
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))
upper

In [ ]:
to_drop = [column for column in upper.columns if any(upper[column] > 0.85)]

In [ ]:
to_drop

In [ ]:
df_w_dummies.drop(columns = to_drop, inplace = True)

## Modeling the Data

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, f1_score
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LogisticRegression

from sklearn import metrics

from sklearn.metrics import confusion_matrix
import itertools

In [ ]:
X = df_w_dummies.drop('Default', axis = 1)
y = df_w_dummies['Default']
feature_cols = X.columns

In [ ]:
# setting up testing and training sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=23)

In [ ]:
scaler = StandardScaler()
final_scaler = scaler.fit(X_train)
X_train = pd.DataFrame(data=scaler.transform(X_train), columns=feature_cols)
X_test = pd.DataFrame(data=scaler.transform(X_test), columns=feature_cols)

In [ ]:
lr_clf_weighted = LogisticRegression(penalty='l2', solver='liblinear', class_weight='balanced')

lr_clf_weighted.fit(X_train, y_train)

y_weighted_test = lr_clf_weighted.predict(X_test)

In [ ]:
# checking accuracy
print('Test Accuracy score: ', accuracy_score(y_test, y_weighted_test))

# checking precision
print('Precision score: ', metrics.precision_score(y_test, y_weighted_test))

# Checking recall
print('Recall score: ', metrics.recall_score(y_test, y_weighted_test))

# checking accuracy
print('Test F1 score: ', f1_score(y_test, y_weighted_test))

In [ ]:
def plot_confusion_matrix(cm, classes,
                          normalize=False,
                          title='Confusion matrix',
                          cmap=plt.cm.Blues):
    """
    This function prints and plots the confusion matrix.
    Normalization can be applied by setting `normalize=True`.
    """
    if normalize:
        cm = cm.astype('float') / cm.sum(axis=1)[:, np.newaxis]
        print("Normalized confusion matrix")
    else:
        print('Confusion Matrix, without normalization')

    print(cm)

    plt.imshow(cm, interpolation='nearest', cmap=cmap)
    plt.title(title)
    plt.colorbar()
    tick_marks = np.arange(len(classes))
    plt.xticks(tick_marks, classes, rotation=45)
    plt.yticks(tick_marks, classes)

    fmt = '.2f' if normalize else 'd'
    thresh = cm.max() / 2.
    for i, j in itertools.product(range(cm.shape[0]), range(cm.shape[1])):
        plt.text(j, i, format(cm[i, j], fmt),
                 horizontalalignment="center",
                 color="white" if cm[i, j] > thresh else "black")

    plt.tight_layout()
    plt.ylabel('True label')
    plt.xlabel('Predicted label')

In [ ]:
# new confusion matrix (threshold of 0.3)
plot_confusion_matrix(metrics.confusion_matrix(y_test, y_weighted_test), classes,
                          normalize=False,
                          title='Confusion matrix',
                          cmap=plt.cm.Blues)

## Oversampling with Smote and using KNN classifier

In [ ]:
from imblearn.over_sampling import SMOTE
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
sm = SMOTE(random_state=23)
X_train_s, y_train_s = sm.fit_sample(X_train, y_train)

In [ ]:
def fit_predict(model, x_train, y_train, test):
    model.fit(x_train, y_train)
    predictions = model.predict(test)
    # checking accuracy
    print('Test Accuracy score: ', accuracy_score(test, prediction))

    # checking accuracy
    print('Test F1 score: ', f1_score(test, predictions))

In [ ]:
knn_smote = KNeighborsClassifier(n_neighbors=1)

In [ ]:
knn_smote.fit(X_train_s, y_train_s)

In [ ]:
y_pred_knn = knn_smote.predict(X_test)

In [ ]:
# checking accuracy
print('Test Accuracy score: ', accuracy_score(y_test, y_pred_knn))

# checking precision
print('Precision score: ', metrics.precision_score(y_test, y_pred_knn))

# Checking recall
print('Recall score: ', metrics.recall_score(y_test, y_pred_knn))

# checking accuracy
print('Test F1 score: ', f1_score(y_test, y_pred_knn))

In [ ]:
# new confusion matrix (threshold of 0.3)
plot_confusion_matrix(metrics.confusion_matrix(y_test, y_pred_knn), classes,
                          normalize=False,
                          title='Confusion matrix',
                          cmap=plt.cm.Blues)

## Undersampling with Tomek Links and KNN Classifier

In [ ]:
from collections import Counter
from imblearn.under_sampling import TomekLinks

In [ ]:
tl = TomekLinks()
X_res, y_res = tl.fit_resample(X_train, y_train)
print('Resampled dataset shape %s' % Counter(y_res))

In [ ]:
knn_tomek = KNeighborsClassifier(n_neighbors=1)

In [ ]:
knn_tomek.fit(X_res, y_res)

In [ ]:
y_pred_knn_tomek = knn_smote.predict(X_test)

In [ ]:
# checking accuracy
print('Test Accuracy score: ', accuracy_score(y_test, y_pred_knn_tomek))

# checking precision
print('Precision score: ', metrics.precision_score(y_test, y_pred_knn_tomek))

# Checking recall
print('Recall score: ', metrics.recall_score(y_test, y_pred_knn_tomek))

# checking accuracy
print('Test F1 score: ', f1_score(y_test, y_pred_knn_tomek))

## Trying the same thing but finding the best hyper parameters

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
n_values = [x for x in range(1, 21)]

In [ ]:
param_grid = {'n_neighbors': n_values}

In [ ]:
knn_smote_gscv = KNeighborsClassifier()

In [ ]:
grid = GridSearchCV(knn_smote_gscv, param_grid, verbose = 1)

In [ ]:
grid.fit(X_train_s, y_train_s)

In [ ]:
# examine the first result
print(grid.cv_results_['params'][0])
print(grid.cv_results_['mean_test_score'][0])