In [2]:
import json
import pandas as pd

# Part 1: Reading and investigating data

Open up the `player_data.json` and investigate the data structure.

In [3]:
nba = pd.read_json('player_data.json')

column_names = ['DISPLAY_FIRST_LAST', 'PERSON_ID', 'TEAM_ID', 'Game_ID', 'MIN', 'PTS', 'AST', 
                'REB', 'DREB', 'BLK', 'TEAM_ABBREVIATION']

nba_data = pd.DataFrame(columns = column_names)


# nba['MIN'] = 0
# for index, row in nba.iterrows():
#     minutes = 0
#     for game in row['GAMELOG']:
#         minutes += game['MIN']
#     if minutes == 0:
#         nba.loc[nba_check['PERSON_ID'] == row['PERSON_ID'], 'MIN'] = 0
#     else:
#         nba.loc[nba_check['PERSON_ID'] == row['PERSON_ID'], 'MIN'] = round((minutes / len(nba_check['GAMELOG'][index])),3)

nba_game_list = []
for index, row in nba.iterrows():
    for game in row['GAMELOG']:
        nba_game = [row['DISPLAY_FIRST_LAST'], row['PERSON_ID'], game['TEAM_ID'], 
                        game['Game_ID'], game['MIN'], game['PTS'], game['AST'], game['REB'],
                        game['DREB'], game['BLK'], game['TEAM_ABBREVIATION']]
        zipped = zip(column_names, nba_game)
        a_dictionary = dict(zipped)
        nba_game_list.append(a_dictionary)

nba_data = nba_data.append(nba_game_list)

nba_data

,DISPLAY_FIRST_LAST,PERSON_ID,TEAM_ID,Game_ID,MIN,PTS,AST,REB,DREB,BLK,TEAM_ABBREVIATION
0,Alex Abrines,203518,1610612760,0021800772,9,0,0,0,0,0,OKC
1,Alex Abrines,203518,1610612760,0021800751,6,3,0,1,1,0,OKC
2,Alex Abrines,203518,1610612760,0021800493,27,7,0,1,1,2,OKC
3,Alex Abrines,203518,1610612760,0021800485,16,6,0,1,1,0,OKC
4,Alex Abrines,203518,1610612760,0021800466,23,9,1,1,1,0,OKC
...,...,...,...,...,...,...,...,...,...,...,...
26096,Ivica Zubac,1627826,1610612747,0021800183,2,0,0,2,1,0,LAL
26097,Ivica Zubac,1627826,1610612747,0021800139,11,5,1,6,4,0,LAL
26098,Ivica Zubac,1627826,1610612747,0021800132,20,9,0,8,4,0,LAL
26099,Ivica Zubac,1627826,1610612747,0021800060,2,0,1,2,1,0,LAL
26100,Ivica Zubac,1627826,1610612747,0021800048,5,0,0,1,0,1,LAL

# Part 2:  Creating the Dataframe

Create a data frame where each row corresponds to a game for each player. You must have atleast the following columns in your final dataframe:

'DISPLAY_FIRST_LAST', 'PERSON_ID', 'TEAM_ID', 'AST', 'BLK', 'DREB','Game_ID',  'MIN', 'PTS', 'REB', 'TEAM_ABBREVIATION'

*You can include additional columns in your dataframe, so you don't have to do additional work to remove other columns.*

# Part 3: Pandas Questions

Answer the following questions

## 1 
- Find the player who scored the most points in an individual game last season.

-  Now do the same for rebounds, blocks, and assists.

In [4]:
print(nba_data.loc[nba_data['PTS'] == nba_data['PTS'].max()][['DISPLAY_FIRST_LAST', 'PTS']])
print('')
print(nba_data.loc[nba_data['REB'] == nba_data['REB'].max()][['DISPLAY_FIRST_LAST', 'REB']])
print('')
print(nba_data.loc[nba_data['BLK'] == nba_data['BLK'].max()][['DISPLAY_FIRST_LAST', 'BLK']])
print('')
print(nba_data.loc[nba_data['AST'] == nba_data['AST'].max()][['DISPLAY_FIRST_LAST', 'AST']])

      DISPLAY_FIRST_LAST PTS
10323       James Harden  61
10348       James Harden  61

       DISPLAY_FIRST_LAST REB
23773  Karl-Anthony Towns  27

      DISPLAY_FIRST_LAST BLK
21109  Mitchell Robinson   9
25135   Hassan Whiteside   9

      DISPLAY_FIRST_LAST AST
24969  Russell Westbrook  24

## 2: 

- Find the player who scored the most points for the entire season.

- Now do the same for rebounds, blocks, and assists.

In [5]:
nba_sums = nba_data.groupby(['DISPLAY_FIRST_LAST']).sum()

print(nba_sums.loc[nba_sums['PTS'] == nba_sums['PTS'].max()][['PTS']])
print('')
print(nba_sums.loc[nba_sums['REB'] == nba_sums['REB'].max()][['REB']])
print('')
print(nba_sums.loc[nba_sums['BLK'] == nba_sums['BLK'].max()][['BLK']])
print('')
print(nba_sums.loc[nba_sums['AST'] == nba_sums['AST'].max()][['AST']])

                     PTS
DISPLAY_FIRST_LAST
James Harden        2818

                     REB
DISPLAY_FIRST_LAST
Andre Drummond      1232

                    BLK
DISPLAY_FIRST_LAST
Myles Turner        199

                    AST
DISPLAY_FIRST_LAST
Russell Westbrook   784

## 3:
How many players played in at least 82 games last season?

In [6]:
num_games = nba_data.groupby(['DISPLAY_FIRST_LAST']).count()
(num_games['PERSON_ID'].loc[num_games['PERSON_ID'] == 82]).count()

21

## 4: 
- Find which team scored the most points for the entire season.

- Now do the same for rebounds, blocks, and assists.

In [7]:
team_total = nba_data.groupby(['TEAM_ABBREVIATION']).sum()

print(team_total.loc[team_total['PTS'] == team_total['PTS'].max()][['PTS']])
print('')
print(team_total.loc[team_total['REB'] == team_total['REB'].max()][['REB']])
print('')
print(team_total.loc[team_total['BLK'] == team_total['BLK'].max()][['BLK']])
print('')
print(team_total.loc[team_total['AST'] == team_total['AST'].max()][['AST']])

                    PTS
TEAM_ABBREVIATION
MIL                9686

                    REB
TEAM_ABBREVIATION
MIL                4078

                   BLK
TEAM_ABBREVIATION
GSW                525

                    AST
TEAM_ABBREVIATION
GSW                2413

## 5:
Which team had the most players play for them last season?

In [8]:
nba_players = nba_data.groupby(['TEAM_ABBREVIATION']).agg({'DISPLAY_FIRST_LAST': 'unique'})

nba_players.reset_index(inplace = True)

nba_players['player_count'] = nba_players.DISPLAY_FIRST_LAST.apply(lambda x: len(x))

nba_players.loc[nba_players['player_count'] == nba_players['player_count'].max()]

,TEAM_ABBREVIATION,DISPLAY_FIRST_LAST,player_count
14,MEM,"[Kyle Anderson, Avery Bradley, Dillon Brooks, ...",28

## 6:
- Did any players play for more than one team last year?

- What is the most number of teams a player played for last season?

In [9]:
nba_players = nba_data.groupby(['DISPLAY_FIRST_LAST'])

## 7:

Find the player who scored the least amount of points while playing in at least 40 games last season.

In [57]:
nba_data.groupby(['DISPLAY_FIRST_LAST', 'PERSON_ID'])['Game_ID'].count()

DISPLAY_FIRST_LAST  PERSON_ID
Aaron Gordon        203932       78
Aaron Holiday       1628988      50
Abdel Nader         1627846      61
Al Horford          201143       68
Al-Farouq Aminu     202329       81
                                 ..
Zach LaVine         203897       63
Zach Lofton         1629155       1
Zaza Pachulia       2585         68
Zhaire Smith        1629015       6
Zhou Qi             1627753       1
Name: Game_ID, Length: 530, dtype: int64

# Part 4: Pandas and Probability

## 8: 

What is the probability that a random player had a game where they scored more than 40 points?

In [ ]:
#your code here

## 9:

What is the probability that a randomly selected player from last season would average more than 20 points per game?

In [ ]:
# your code here

# Advanced Questions

## 10: 
Find the player who scored the least amount of points while playing in at least 40 games and averageing at least 15 minutes per game last season.

In [ ]:
#your code here

## 11: 
Which player scored the largest share of points for their team throughout the season.

In [ ]:
#your code here

## 12:

What is the probability that a randomly selected player had at least one game in which they scored 40 points last season.

In [ ]:
# your code here

## 13: 

A double-double is when a player records for any of the two follow categories: points, rebounds, assists, steals, or blocks. 
What is the probability that a randomly selected player had a double-double in a game last season?

In [ ]:
#your code here

## 14:

What is the probability that a randomnly selected game had a player record a triple-double in that game?

In [ ]:
#your code here