In [1]:
import json
import pandas as pd

# Part 1: Reading and investigating data

Open up the `player_data.json` and investigate the data structure.

In [202]:
nba = pd.read_json('player_data.json')

column_names = ['DISPLAY_FIRST_LAST', 'PERSON_ID', 'TEAM_ID', 'Game_ID', 'MIN', 'PTS', 'AST', 
                'REB', 'DREB', 'BLK', 'TEAM_ABBREVIATION']

nba_data = pd.DataFrame(columns = column_names)


# nba['MIN'] = 0
# for index, row in nba.iterrows():
#     minutes = 0
#     for game in row['GAMELOG']:
#         minutes += game['MIN']
#     if minutes == 0:
#         nba.loc[nba_check['PERSON_ID'] == row['PERSON_ID'], 'MIN'] = 0
#     else:
#         nba.loc[nba_check['PERSON_ID'] == row['PERSON_ID'], 'MIN'] = round((minutes / len(nba_check['GAMELOG'][index])),3)
nba_game_list = []
for index, row in nba.iterrows():
    for game in row['GAMELOG']:
        nba_game = [row['DISPLAY_FIRST_LAST'], row['PERSON_ID'], game['TEAM_ID'], 
                        game['Game_ID'], game['MIN'], game['PTS'], game['AST'], game['REB'],
                        game['DREB'], game['BLK'], game['TEAM_ABBREVIATION']]
        zipped = zip(column_names, nba_game)
        a_dictionary = dict(zipped)
        nba_game_list.append(a_dictionary)

nba_data = nba_data.append(nba_game_list)

nba_data

,DISPLAY_FIRST_LAST,PERSON_ID,TEAM_ID,Game_ID,MIN,PTS,AST,REB,DREB,BLK,TEAM_ABBREVIATION
0,Alex Abrines,203518,1610612760,0021800772,9,0,0,0,0,0,OKC
1,Alex Abrines,203518,1610612760,0021800751,6,3,0,1,1,0,OKC
2,Alex Abrines,203518,1610612760,0021800493,27,7,0,1,1,2,OKC
3,Alex Abrines,203518,1610612760,0021800485,16,6,0,1,1,0,OKC
4,Alex Abrines,203518,1610612760,0021800466,23,9,1,1,1,0,OKC
...,...,...,...,...,...,...,...,...,...,...,...
26096,Ivica Zubac,1627826,1610612747,0021800183,2,0,0,2,1,0,LAL
26097,Ivica Zubac,1627826,1610612747,0021800139,11,5,1,6,4,0,LAL
26098,Ivica Zubac,1627826,1610612747,0021800132,20,9,0,8,4,0,LAL
26099,Ivica Zubac,1627826,1610612747,0021800060,2,0,1,2,1,0,LAL
26100,Ivica Zubac,1627826,1610612747,0021800048,5,0,0,1,0,1,LAL

# Part 2:  Creating the Dataframe

Create a data frame where each row corresponds to a game for each player. You must have atleast the following columns in your final dataframe:

'DISPLAY_FIRST_LAST', 'PERSON_ID', 'TEAM_ID', 'AST', 'BLK', 'DREB','Game_ID',  'MIN', 'PTS', 'REB', 'TEAM_ABBREVIATION'

*You can include additional columns in your dataframe, so you don't have to do additional work to remove other columns.*

# Part 3: Pandas Questions

Answer the following questions

## 1 
- Find the player who scored the most points in an individual game last season.

-  Now do the same for rebounds, blocks, and assists.

In [233]:
# nba_data.loc(nba_data['PTS'].max())

print(nba_data.loc[nba_data['PTS'] == nba_data['PTS'].max()])
print(nba_data.loc[nba_data['REB'] == nba_data['REB'].max()])
print(nba_data.loc[nba_data['BLK'] == nba_data['BLK'].max()])
print(nba_data.loc[nba_data['AST'] == nba_data['AST'].max()])

      DISPLAY_FIRST_LAST PERSON_ID     TEAM_ID     Game_ID MIN PTS AST REB  \
10323       James Harden    201935  1610612745  0021801084  37  61   1   7
10348       James Harden    201935  1610612745  0021800710  40  61   4  15

      DREB BLK TEAM_ABBREVIATION
10323    5   0               HOU
10348    9   0               HOU
       DISPLAY_FIRST_LAST PERSON_ID     TEAM_ID     Game_ID MIN PTS AST REB  \
23773  Karl-Anthony Towns   1626157  1610612750  0021800633  37  27   3  27

      DREB BLK TEAM_ABBREVIATION
23773   18   4               MIN
      DISPLAY_FIRST_LAST PERSON_ID     TEAM_ID     Game_ID MIN PTS AST REB  \
21109  Mitchell Robinson   1629011  1610612752  0021800186  22   4   0   4
25135   Hassan Whiteside    202355  1610612748  0021800156  32  29   2  20

      DREB BLK TEAM_ABBREVIATION
21109    4   9               NYK
25135   14   9               MIA
      DISPLAY_FIRST_LAST PERSON_ID     TEAM_ID     Game_ID MIN PTS AST REB  \
24969  Russell Westbrook    201566  1610612760  0021800619  50  24  24  13

      DREB BLK TEAM_ABBREVIATION
24969   11   0               OKC

## 2: 

- Find the player who scored the most points for the entire season.

- Now do the same for rebounds, blocks, and assists.

In [262]:
nba_sums = nba_data.groupby(['DISPLAY_FIRST_LAST']).sum()
print(nba_sums.loc[nba_sums['PTS'] == nba_sums['PTS'].max()])
print(nba_sums.loc[nba_sums['REB'] == nba_sums['REB'].max()])
print(nba_sums.loc[nba_sums['BLK'] == nba_sums['BLK'].max()])
print(nba_sums.loc[nba_sums['AST'] == nba_sums['AST'].max()])

                    PERSON_ID       TEAM_ID  \
DISPLAY_FIRST_LAST
James Harden         15750930  125627794110

                                                              Game_ID   MIN  \
DISPLAY_FIRST_LAST
James Harden        0021801218002180120000218011840021801176002180...  2870

                     PTS  AST  REB  DREB  BLK  \
DISPLAY_FIRST_LAST
James Harden        2818  586  518   452   58

                                                    TEAM_ABBREVIATION
DISPLAY_FIRST_LAST
James Harden        HOUHOUHOUHOUHOUHOUHOUHOUHOUHOUHOUHOUHOUHOUHOUH...
                    PERSON_ID       TEAM_ID  \
DISPLAY_FIRST_LAST
Andre Drummond       16043557  127238408435

                                                              Game_ID   MIN  \
DISPLAY_FIRST_LAST
Andre Drummond      0021801223002180121000218011980021801186002180...  2646

                     PTS  AST   REB  DREB  BLK  \
DISPLAY_FIRST_LAST
Andre Drummond      1370  112  1232   809  138

                                                    TEAM_ABBREVIATION
DISPLAY_FIRST_LAST
Andre Drummond      DETDETDETDETDETDETDETDETDETDETDETDETDETDETDETD...
                    PERSON_ID       TEAM_ID  \
DISPLAY_FIRST_LAST
Myles Turner        120336358  119185343796

                                                              Game_ID   MIN  \
DISPLAY_FIRST_LAST
Myles Turner        0021801199002180118300218011650021801152002180...  2119

                    PTS  AST  REB  DREB  BLK  \
DISPLAY_FIRST_LAST
Myles Turner        984  115  531   430  199

                                                    TEAM_ABBREVIATION
DISPLAY_FIRST_LAST
Myles Turner        INDINDINDINDINDINDINDINDINDINDINDINDINDINDINDI...
                    PERSON_ID       TEAM_ID  \
DISPLAY_FIRST_LAST
Russell Westbrook    14714318  117574731480

                                                              Game_ID   MIN  \
DISPLAY_FIRST_LAST
Russell Westbrook   0021801226002180121800218011970021801186002180...  2634

                     PTS  AST  REB  DREB  BLK  \
DISPLAY_FIRST_LAST
Russell Westbrook   1675  784  807   698   33

                                                    TEAM_ABBREVIATION
DISPLAY_FIRST_LAST
Russell Westbrook   OKCOKCOKCOKCOKCOKCOKCOKCOKCOKCOKCOKCOKCOKCOKCO...

## 3:
How many players played in at least 82 games last season?

In [271]:
num_games = nba_data.groupby(['DISPLAY_FIRST_LAST']).count()
(num_games['PERSON_ID'].loc[num_games['PERSON_ID'] == 82]).count()

21

## 4: 
- Find which team scored the most points for the entire season.

- Now do the same for rebounds, blocks, and assists.

In [300]:
team_total = nba_data.groupby(['TEAM_ABBREVIATION']).sum()
total_pts = team_total.loc[team_total['PTS'] == team_total['PTS'].max()]
total_reb = team_total.loc[team_total['REB'] == team_total['REB'].max()]
total_blk = team_total.loc[team_total['BLK'] == team_total['BLK'].max()]
total_ast = team_total.loc[team_total['AST'] == team_total['AST'].max()]

## 5:
Which team had the most players play for them last season?

In [313]:
total_players = nba_data.groupby(['TEAM_ABBREVIATION'])

count_players = total_players['DISPLAY_FIRST_LAST'].count()

count_players[count_players == count_players.max()]

TEAM_ABBREVIATION
LAC    942
Name: DISPLAY_FIRST_LAST, dtype: int64

## 6:
- Did any players play for more than one team last year?

- What is the most number of teams a player played for last season?

## 7:

Find the player who scored the least amount of points while playing in at least 40 games last season.

In [ ]:
#your code here

# Part 4: Pandas and Probability

## 8: 

What is the probability that a random player had a game where they scored more than 40 points?

In [ ]:
#your code here

## 9:

What is the probability that a randomly selected player from last season would average more than 20 points per game?

In [ ]:
# your code here

# Advanced Questions

## 10: 
Find the player who scored the least amount of points while playing in at least 40 games and averageing at least 15 minutes per game last season.

In [ ]:
#your code here

## 11: 
Which player scored the largest share of points for their team throughout the season.

In [ ]:
#your code here

## 12:

What is the probability that a randomly selected player had at least one game in which they scored 40 points last season.

In [ ]:
# your code here

## 13: 

A double-double is when a player records for any of the two follow categories: points, rebounds, assists, steals, or blocks. 
What is the probability that a randomly selected player had a double-double in a game last season?

In [ ]:
#your code here

## 14:

What is the probability that a randomnly selected game had a player record a triple-double in that game?

In [ ]:
#your code here